<a href="https://colab.research.google.com/github/mcondemaita/python_projects/blob/main/Funtions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Len of that secuase or collection

In [ ]:
album_ratings = [1,3,2,4,6,5,7,8,8,10]
L=len(album_ratings)
L

10

In [ ]:
#SUM
L=sum(album_ratings)
L

54

In [ ]:
len([sum([0,0,1])])

1

In [ ]:
#sorted vs sort 
sorted_album_ratings = sorted(album_ratings)
sorted_album_ratings # new list was created

[1, 2, 3, 4, 5, 6, 7, 8, 8, 10]

In [ ]:
album_ratings.sort() 
album_ratings #data was tranform on itself

[1, 2, 3, 4, 5, 6, 7, 8, 8, 10]

In [ ]:
L=[1,3,2]
sorted(L)
L #sorted is a funtion *& returns a new list, it does not change the linst L

[1, 3, 2]

In [42]:
##Create our own funtions

def add1(a):
  """ add 1 to a """
  b=a+1
  print(a, "plus 1 equals", b)
  #return b

a = 3
add1(a)

3 plus 1 equals 4

In [27]:
def Mult(a,b):
  c = a*b #a will be the number of multiplication on b
  return c

Mult(5, "Maria " + "Conde" ", ") #this could cause a proble bec of int and string

'Maria Conde, Maria Conde, Maria Conde, Maria Conde, Maria Conde, '

In [28]:
def nowork():
  pass ##if it doent have return statment 
print(nowork())

None

Include Loop in a funtion

In [54]:
album_ratings = [10.2, 5.3, 9.9] #list 
Stuff_(album_ratings) #call the funtion loop 

def Stuff_(Stuff):
  for i, a in enumerate(Stuff): #the i value will pass to a for a new dataframe 
    print("Index", i, "Rating is", a)

Index 0 Rating is 10.2
Index 1 Rating is 5.3
Index 2 Rating is 9.9

In [ ]:
def Print(A):
  for a in A: 
    print(a + '1')
    
Print(['a','b','c'])

a1
b1
c1

In [80]:
#Collecting arguments * to call all elements 

def collect(*names):
  for name in names:
    print("The Artis Name is: ", name)

ArtistNames = ["Maria", "Conde", "Analyst",
"Dora", "Samanta", "Accounting"]
collect(ArtistNames) #call the funtion

The Artis Name is:  ['Maria', 'Conde', 'Analyst', 'Dora', 'Samanta', 'Accounting']

In [74]:
x = [1,4,8]
#print(x)

def add1(X):
  for x in X:
    print(x + 1)

In [ ]:
album_ratings = [10,50,90]
printStuff(album_ratings)

def album_retings(Stuff): #funtion 
  for i,s in enumerate(Stuff):
    print('Album', i, 'Rating is', s)

Album 0 Rating is 10
Album 1 Rating is 50
Album 2 Rating is 90

In [ ]:
name_ =['alex', 'veto']

def ArtistNames(*names):
  for name in names: 
    return names

In [ ]:
def AddMC(album_ratings_):
  album_ratings_ = album_ratings_ +"DC"
  print(album_ratings_)
  return(album_ratings_)

album_ratings_ = '2'
result_ = AddMC(album_ratings_)

2DC

Global Scope means that this can be access from anywhere

In [67]:
def addDC(X):
  X= X+" DC"
  print(X)
  return(X)

X='AC' ##globla variable 
addDC(X) ##new data

AC DC

'AC DC'

In [64]:
def thriller():  
  Date=1982
  return Date

Date= 2017

print("Date of the funtion ", thriller()) #scope thriiller 

print("Global date", Date) #Global

Date of the funtion  1982
Global date 2017

In [99]:
#Global Scope 
def Add3():
  y = (Rating + 3)
  print( "Rating is: ", Rating, " Add 3 funtion result: ", y)
  return(Rating+y)

Rating= 2

Glo_ = Add3()

print("This will give the Global result of the assigned varible: ", Glo_)

Rating is:  2  Add 3 funtion result:  5
This will give the Global result of the assigned varible 7